/* general */
html {
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;

}

h1, h2, h3 {
    font-weight: 300;
}

a {
    transition: .5s;
}

/* Sidebar */

#sidebar {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #006599;
    padding-top: 40px;
}
#sidebar h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
#sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
#sidebar a:hover {
    color: #f4ef5e;
}

#sidebar li {
    padding: 20px;
}

.sidebar-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.logo-doceria {
    width: 60px;
    height: 60px;
    display: block; /* keep on the same line */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* content */

.content {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1, .content h2 {
    color: #006599;
    margin-bottom: 30px;
}

.content h1 {
    font-size: 48px;   
}
.content h2 {
    font-size: 35px;   
}

section {
    padding-left: 50px;
}

/* Welcome Section */
#sessao-bemvindo {
    padding-left: 0;
}

.sessao-bemvindo-content {
    padding-left: 50px;
}

#sessao-bemvindo .banner {
    height: 500px;
    background-image: url('../img/banner2.jpg');
    background-position: center;
    background-size: cover;
}

#sessao-bemvindo h1 {
    margin-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 100px;
}

.sessao-minibanner {
    width: 300px;
    height: 400px;
    background-image: url('../img/banner3.jpg');
    background-position: center;
    background-size: cover;
    float: left;
}

.sessao-descricao {
    position: absolute;
    left: 370px;
    padding-right: 30px;
}

.sessao-descricao p{
    line-height: 2;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 25px;
}

.sessao-bemvindo-btn, form input[type=submit] {
    background-color: #006599;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    transition: .5s;
    display: block;
    width: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover {
    background-color: #2790C6;
}

/* about section */

#sessao-sobre .sessao-minibanner {
    float: right;
    margin-right: 50px;
    background-image: url('../img/banner4.jpg');
}

#sessao-sobre .sessao-descricao {
    position: absolute;
    left: 25px;
    width: calc(100% - 400px);
}    

/* gallery */

.banner-galeria {
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 200px;
}

#sessao-doces1, #sessao-doces2, #sessao-doces3 {
    padding-right: 50px;
    margin-bottom: 50px;
}

.doces1-imgs {   
    width: 18.8%;  
    margin-left: .5%;
    margin-right: .5%;
    /* esses 18.8% na verdade significa que são 100% da largura divido por 5 imagens. então daria 20% com 5 imagens daria 100% */
    /* Então deveria ser width de 20% e porque não é?
        O mais comum seria usar 19.9% para nao usar 20% e foi assim que aconteceu. Foi usado para cada imagem 18.8% mais left de 0.5% e mais um right de 0.5%, que daria na soma 19.8% e chegaria bem próximo da divisão exata de 20%  */
}

#img1 {
    background-image: url('../img/galeria1.jpg');
    margin-left: 0;
}
#img2 {
    background-image: url('../img/galeria2.jpg');
}
#img3 {
    background-image: url('../img/galeria3.jpg');
}
#img4 {
    background-image: url('../img/galeria4.jpg');
}
#img5 {
    background-image: url('../img/galeria5.jpg');
    margin-right: 0;
}


.doces2-imgs {
    width: 32.3%;
    margin-left: .5%;
    margin-right: .5%;
    /* doces 2 precisa inserir 3 imagens em 100% de width. Então cada img precisa ter proximo de 33%.
    Foi usado 32.3% + 0.5 margin-left + 0.5 margin-right = 33.3% */
}

#img6 {
    background-image: url('../img/galeria6.jpg');
    margin-left: 0;
}
#img7 {
    background-image: url('../img/galeria7.jpg');
}
#img8 {
    background-image: url('../img/galeria8.jpg');
    margin-right: 0;
}


.doces3-imgs {
    width: 23.9%;
    margin-left: .5%;
    margin-right: .5%;
    /* doces 3 precisa inserir 4 imagens em 100% de width. Então cada img precisa ter proximo de 25%.
    Foi usado 23.9% + 0.5 margin-left + 0.5 margin-right = 24.9% */
}

#img9 {
    background-image: url('../img/galeria9.jpg');
    margin-left: 0;
}
#img10 {
    background-image: url('../img/galeria10.jpg');
}
#img11 {
    background-image: url('../img/galeria11.jpg');
}
#img12 {
    background-image: url('../img/galeria12.jpg');
    margin-right: 0;
}


/* Contact */

#form-contato {
    width: 500px;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea {
    display: block;
    border: 1px solid #006599;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
}

#form-contato textarea {
    height: 150px;
}

#form-contato ::placeholder {
    color: #2790C6;
}

#form-contato input[type=submit] {
    margin-left: 0;
    font-size: 16px;
    width: 180px;
}

/* footer */

footer {
    height: 100px;
    padding-top: 150px;
    color: #006599;
}

footer p {
    text-align: center;
}